* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.container-all .menu {
    padding: 11px 50px 15px 46.29px;
    width: 100%;
    min-height: 102px;
}

.container-all .menu, .container-items  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.father-all  a {
    cursor: pointer;
}

.father-all  a, .text {
    font-family: 'Lato', sans-serif;
}

.father-all  a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #6D6D6D;
}

.container-items .items {
    margin-right: 72px;
}

.menu .buttom{
    width: 160px;
    height: 56px;
    background: #FF991D;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu .buttom:hover {
    background-color: #ea9f44;
}

.menu a:hover {
    color:#3d3d3d
}

.menu .buttom a, .title {
    color: white;
}



.container-all .father-hero {
    display: flex;
}

.container-all .father-title-text {
    background: #B6EEDE;
    justify-content: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-bottom: 30px;
}

.father-title-text .title {
    width: 100%;
    max-width: 848px;
    height: 125px;
    background: #111B33;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 125%;
    position: absolute;
    top: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 62px;
}

.father-title-text .text {
    margin-top: 158px;
    padding-top: 36px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #111B33;
    max-width: 527px;
    margin-left: 101px;
}

.container-img {
    width: 50%;
}

.container-img  .img-hero {
    width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




@media (max-width:1390px) {
    .container-items .items {
        margin-right: 30px;
    }

    .father-title-text .title {
        max-width: 750px;
        font-size: 49px;
        height: 108px;
    }
}

@media (max-width:1324px) {
    .container-items .items {
        margin-right: 20px;
    }

    .father-title-text .text {
        margin-top: 200px;
        padding-top: 36px;
        font-size: 20px;
        margin-left: 70px;
    }

    .container-items .items {
        font-size: 18px;
    }

    .menu .logo img {
        width: 200px;
    } 
}

@media (max-width:1324px) {
    .father-title-text .title {
        max-width: 652px;
        font-size: 39px;
        height: 98px;
    }
    

    .menu .logo img {
        width: 200px;
    } 
}

@media (max-width:990px) {

    .menu .logo img {
        width: 150px;
    } 

    .menu .buttom{
        width: 100px;
        height: 44px;
        
    }

    .father-all  a {
        font-size: 15px;
    }

    .container-all .menu {
        padding: 11px 15px 15px 15px;
    }

    .father-title-text .title {
        max-width: 600px;
    }

    .father-title-text .text {
        font-size: 17px;
    }   
}

@media (max-width:700px) {

    .menu .logo img {
        width: 125px;
    }

    .menu .buttom{
        width: 78px;
        height: 37px;
        padding: 5px;
        text-align: center;
    }

    .father-all a {
        font-size: 13px;
    }
    
    .container-items .items {
        margin-right: 9px;
    }

    
    .father-title-text .title {
        max-width: 400px;
        font-size: 27px;
        height: 82px;
        padding: 10px;
}

    .father-title-text .text {
        margin-left: 64px;
        font-size: 15px;
    }
}

@media (max-width:560px) {
    .container-items {
         display: none;
        }

    .menu .logo img {
        width: 200px;
    }

}

@media (max-width:508px) {

    


    
    .father-title-text .title {
        max-width: 281px;
        font-size: 19px;
        height: 67px;
        padding: 5px;
        left: 27px;
}

    .menu .logo img {
        width: 160px;
    }

    .father-title-text .text {
        margin-left: 64px;
        font-size: 15px;
        line-height: 24px;
        margin-left: 31px;
        font-size: 15px;
    }
}